body {
    margin: 50px;
    background-color: #000;
    color: white;
}

form {

    margin: 20px
}

ul {
    font-size: 24px;
    ;
}

button:hover {
    cursor: pointer;
}

.search {
    display: inline-block;
    font-size: 24px;
    ;
}